.header{
    background-color: #343A40;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 15px;
}

.voltaCabecalho{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 92px;
    padding: 5px;
    border-radius: 10px;
}

.voltarIcon{
   width: 30px;
   filter: invert();
   display: block;  
}

.voltarText{
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 5px;
}

.voltar{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 92px;
    padding: 5px;
    border-radius: 10px;
}

.voltaCabecalho:hover{
    background-color: #4c4d4d;
}

.logoPC{
    width: 100px;
    display: block;
}

.policiaCivil{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
}

.delegaciaVirtual{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 25px;
    font-family: Arial;
    font-weight: lighter;
}

.cabecalhoTexto{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 23px;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: center;
}